<section>
    <main class="new-content">
        <div>
            <button mat-icon-button><mat-icon>arrow_back</mat-icon></button>
        </div>

        <form class="new-form">
            <img src="https://picsum.photos/500/500" alt="preview" />

            <div class="form-input-container">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>

                <mat-form-field class="genre-select">
                    <mat-label>Genre</mat-label>
                    <mat-select>
                        <mat-option value="women">Women</mat-option>
                        <mat-option value="men">Men</mat-option>
                        <mat-option value="kids">Kids</mat-option>
                        <mat-option value="other">Other</mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-button class="start-designing">
                    Start Designing
                </button>
            </div>
        </form>
    </main>
</section>
