
.projects {
    padding: 1rem;
    h2 {
        font-weight: 400;
        font-size: 14px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
        gap: 20px;
    }

    .project-card {
        span{
            font-size: 14px;
        }
    }
}
