<section class="projects">
    <div>
        <h2>Recent Projects</h2>
        <ul class="grid">
            <li class="add-project">
                <mat-icon>add</mat-icon>
            </li>

            @for (project of this.recentProjects; track project.id) {
            <li>
                <mat-card class="project-card">
                    <img mat-card-image [src]="project.previewImageUrl" [alt]="project.name">

                    <mat-card-content>
                        <span>{{ project.name }}</span>

                    </mat-card-content>
                </mat-card>
            </li>
            }
        </ul>
    </div>

    <div>
        <h2>
            All Projects
        </h2>
        <ul class="grid">
            @for (project of this.projects; track project.id) {
            <li>
                <span>{{ project.name }}</span>
            </li>
            }
        </ul>
    </div>
</section>
