<main>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <header>
        <img src="assets/quri-logo.png" alt="logo" />
      </header>
      <nav>
        <ul>
          @for (route of routes; track route.path) {
            <a
              [routerLink]="route.path"
              routerLinkActive="active"
              class="nav-link"
            >
              <li>
                <mat-icon>
                  {{ route.icon }}
                </mat-icon>
                <span>
                  {{ route.label }}
                </span>
              </li>
            </a>
          }
        </ul>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <header>
        <h2>
          {{ this.currentPage }}
        </h2>

        <div>
          <!-- TODO: change link to template/new -->
          <a mat-flat-button routerLink="">
            <mat-icon>add</mat-icon>
            Create
          </a>

          <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>person</mat-icon>
          </button>
        </div>
      </header>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
